*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Roboto Slab', serif;
    background-color: #062a6d;
    width: 100%;
}

.logo{
    color: antiquewhite;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    position: fixed;
    left: 2rem;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    position: fixed;
    right: 2em;
    width: 30%;
}

.nav-links li{
    list-style: none;
    padding: 0 0.5rem;
}

.nav-links a {
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 0.15rem;
    color: antiquewhite;
    font-size: 1rem;
}

.burger{
    display: none;
    cursor: pointer;
}

.burger div{
    width: 1.7rem;
    height: 0.2rem;
    background-color: antiquewhite;
    margin: 0.5rem;
    transition: all 0.3s ease;   
}

.auth ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 4vh;
    
    background-color: #acacac;
    width: 100%;
}

.auth-links li{
    list-style: none;
    padding: 0 0.5em;
    font-family: 'Roboto Slab', serif;
}

.auth-links a{
    color: #062a6d;
    text-decoration: none;
}
main{
    min-height: 81vh;
}
footer{
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(1fr, 60px)) 1fr;
    background-color: #062a6d;
    overflow: hidden;
}

footer img{
    justify-self: flex-start;
    max-height: 5rem;
}

@media screen and (max-width:864px){
    body{
        overflow: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 12vh;
        background-color: #acacac;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 25vw;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }

    .nav-links a{
        color: #062a6d;
        font-style: oblique;
        font-weight: 700;
    }

    .burger{
        display: block;
        position: absolute;
        right: 2rem;  
    }

    .nav-active{
        transform: translateX(0%);
    }

    @keyframes navLinkFade{
        from{
            opacity: 0;
            transform: translateX(5rem);
        }

        to{
            opacity: 1;
            transform: translateX(0);
        }
    }

    .toggle .line1{
        transform: rotate(-45deg) translate(-8px, 7px);
        background-color: #ff0000;
    }
    .toggle .line2{
        opacity: 0;
    }
    .toggle .line3{
        transform: rotate(45deg) translate(-8px, -8px);
        background-color: #ff0000;
    }
}